<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
  <div class="container">
    <div class="left-section">
      <a class="logo" href="/"
        ><img
          loading="lazy"
          decoding="async"
          src="/assets/images/logo-white.png"
          alt="logo"
          width="264"
          height="78"
      /></a>
      <!-- <p>
                Extra content if you need it, if not you can delete this whole p tag. I usually do.
            </p> -->
    </div>
    <div class="right-section">
      <div class="lists">
        <ul>
          <li>
            <h2>Links</h2>
          </li>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About Me</a>
          </li>
          <li>
            <a href="/projects">Projects</a>
          </li>
          <li>
            <a href="/courses">Courses</a>
          </li>
          <li>
            <a href="/teaching">Teaching</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>

        <ul>
          <li>
            <h2>Contact</h2>
          </li>
          <li>
            <a href="https://www.google.com/maps/place/Dhaka">
              {{client.address.city}}, {{client.address.country}}
            </a>
          </li>
          <li>
            <a href="tel:{{client.phoneForTel}}"> {{client.phoneFormatted}} </a>
          </li>
          <li>
            <a href="mailto:{{client.email}}">Click to Email</a>
          </li>
          <li>
            <a href="{{client.facebook}}">Facebook</a>
          </li>
          <li>
            <a href="{{client.linkedin}}">LinkedIn</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="credit">
    <span id="copyright" class="copyright"> Copyright 2023 - Present</span>
  </div>
</footer>
