<!-- ============================================ -->
<!--                 About Section                -->
<!-- ============================================ -->

<section id="sbs">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-left">
      <picture class="cs-picture cs-picture1">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/cabinets2-m.jpg"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/cabinets2.jpg"
        />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/cabinets2.jpg"
          alt="cabinets"
          loading="lazy"
          width="400"
          height="563"
        />
      </picture>
      <picture class="cs-picture cs-picture2">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/construction-m.jpg"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/construction.jpg"
        />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/construction.jpg"
          alt="house"
          loading="lazy"
          width="400"
          height="563"
        />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-right">
      <span class="cs-topper">About Me</span>
      <h2 class="cs-title">Sadatuzzaman Saagoto</h2>
      <p class="cs-text">
        I have learned real-life problem-solving skills through my academics and
        participating in different competitions. In my undergraduate life, I was
        always involved in co-curricular and extracurricular activities to hone
        my communication, interpersonal, and engineering skills.
      </p>
      <p class="cs-text">
        I have learned real-life problem-solving skills through my academics and
        participating in different competitions. In my undergraduate life, I was
        always involved in co-curricular and extracurricular activities to hone
        my communication, interpersonal, and engineering skills.
      </p>

      <!-- <a href="/about" class="cs-button-solid">More About Me</a> -->
    </div>
  </div>
</section>

