---
title: "About"
description: "About Sadatuzzaman Saagoto"
preloadImg: "/assets/images/background-1.webp"
permalink: "about/"
eleventyNavigation:
  key: About Me
  order: 200
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/css/about.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
  <h1 id="home-h">About Me</h1>
  <picture>
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/background-1-m.webp"
    />
    <source
      media="(min-width: 601px)"
      srcset="/assets/images/background-1.webp"
    />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/background-1.webp"
      alt="background image"
      loading="eager"
      width="2500"
      height="1667"
    />
  </picture>
</section>

{% include "layouts/about-me.html" %} {% endblock %}
