---
title: "Contact"
description: "Meta description for the page"
preloadImg: "/assets/images/background-1.webp"
permalink: "contact/"
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/css/contact.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
  <h1 id="home-h">About Me</h1>
  <picture>
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/background-1-m.webp"
    />
    <source
      media="(min-width: 601px)"
      srcset="/assets/images/background-1.webp"
    />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/background-1.webp"
      alt="background image"
      loading="eager"
      width="2500"
      height="1667"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                Contact Form                  -->
<!-- ============================================ -->

<section id="cs-contact">
  <div class="cs-container">
    <form id="cs-form" name="Contact Form" netlify>
      <div class="cs-content">
        <span class="cs-topper">Contact</span>
        <h2 class="cs-title">Get in Touch</h2>
        <!-- <p class="cs-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ridiculus elementum ullamcorper ipsum porttitor aliquam. Id magna urna ultrices odio pulvinar. Sed ut.
                    </p> -->
      </div>
      <label>
        Name
        <input required type="text" id="name" name="name" placeholder="Name" />
      </label>
      <label>
        Email
        <input
          required
          type="text"
          id="email"
          name="email"
          placeholder="Email"
        />
      </label>
      <label> </label>
      <label class="cs-label-message">
        Message
        <textarea
          required
          name="Message"
          id="message"
          placeholder="Write message..."
        ></textarea>
      </label>
      <button class="cs-button-solid" type="submit">Submit</button>
    </form>
    <div class="cs-right-section">
      <!--Email-->
      <span class="cs-header">Email</span>
      <a class="cs-link" href="mailto:{{client.email}}">{{client.email}}</a>
      <!--Phone-->
      <span class="cs-header">Phone</span>
      <a class="cs-link" href="tel:{{client.phoneForTel}}"
        >{{client.phoneFormatted}}</a
      >
      <!--Address-->
      <span class="cs-header">Address</span>
      <a class="cs-link" href="#">
        <span class="cs-block">
          {{client.address.city}}, {{client.address.country}}
        </span>
      </a>
      <!--Social-->
      <span class="cs-header">Socials</span>
      <a class="cs-link" href="{{client.facebook}}">My Facebook</a>
      <a class="cs-link" href="{{client.linkedin}}">My LinkedIn</a>

      <!-- Background Image-->
      <picture class="cs-bg-picture">
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/contact.webp"
        />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/contact.webp"
          alt="building"
          loading="lazy"
          width="2500"
          height="1667"
        />
      </picture>
    </div>
  </div>
</section>
{% endblock %}
